* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


h5{
	color: red;
	font-family: 'Nova Flat', cursive;
}
p {
	color: white;
	font-family: 'Nova Flat', cursive;
}

.footer {
	border: 2px solid red;
	background: black;
}
.clear:after {
	content: "";
	display: block;
	display: block;
}


nav {
 font-family: 'Nova Flat', cursive;
 font-size: 16px;
  width: 100%;
  height: 48px;
  margin:0 auto;
  background: black;
  border-bottom: 0.5px solid red;
  overflow: hidden;

  }

  .nav-pic{
  	height: 100px;
  	width: 90px;
  }

 .nav-link {
 	margin-right: 24px;
 }


/*  ---------------------------------------landing page*/
#landing-page-section {
	background: black;
	height: 130vh;
	width: 100%;
}

#header-div {
	background: black;
	height: 100px;
	width: 100%;
}

#section-div {
	background: black;
	height: 50vh;
	width: 100%;
	padding-bottom: 100px;
}

#msst {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat; 
	margin-top: 4px;
	margin-bottom: 48px;
}


#footer-div {
	padding-top: 100px;
	background: black;
	height: 50vh;
	width: 100%;
}

#msst1 {
	width: 100%;
}
.letter {
	position: relative;
	top: 25%;
}
.btn {
	height: 80px;
	width: 80px;
	border: 3px solid white;
	border-radius: 50%;

}

#l-s {
	background: red;
	height: 70px;
	width: 70px;
	border: 5px solid white;
	border-radius: 50%;
	padding: 50px;
	
}
#s {
	background: red;
	position: absolute;
	left: 10%;
	top: -55%;

}
#a {
	background: blue;
	position: absolute;
	left: 60%;
	top: -1%;
}	

#b {
	background: green;
	position: absolute;
	left: 75%;
	top: -1%;
}

#c {
	background: yellow;
	position: absolute;
	left: 90%;
	top: -1%;
}

#d {
	background: orange;
	position: absolute;
	left: 60%;
	top: 120%;
}

#e {
	background: green;
	position: absolute;
	left: 75%;
	top: 120%;
}

#f {
	background: yellow;
	position: relative;
	left: 47.70%;
	top: 120%;
}


#x {
	background: red;
	height: 120px;
	width: 120px;
	border-radius: 50%;

	position: absolute;
	left: -20%;
	top: 50%;
}
/*  --------------------------------end----landing page*/
/*  ------------------------------------------home page*/
#gilid-l {
	height: 100vh;
}

#gilid-r {
	height: 100vh;
}

.gilid-pic {
	/*display: inline-block;*/
	position: absolute;
	visibility: hidden;
	height: 100%;
	width: 100%;
}
.gilid-gif {
	/*display: inline-block;*/
	margin-top: 150px;
	margin-left: 50px;
	padding-bottom: 100px;
	position: absolute;
	visibility: hidden;
	height: 80%;
	width: 300px;
}

#akuma-gif,
#ken-gif,
#chun-li-gif,
#dan-gif,
#sakura-gif,
#ryu-gif {
	width: 200px;
}

#black-gif {
	padding-bottom: 200px;
	margin-top: 50px;
	height: 800px;
	width: 250px;
}
#wolverine-gif {
	height: 450px;
	width: 200px;
	padding-bottom: 50px;
}

.img-carou {
	height: 100vh;
	width: 100%;
}
#body-header{
	min-height: 100%;
	background-image: url(../images/charmvs1.jpg);

}

#home-section1 {
	margin-top: 38px;
}

.box {
	margin: 0 auto;
	height: 620px;
	width: 320px;

}

.ms {
	height: 100px;
	width: 100px;
	border: 2px solid yellow;
	margin: 0 auto;
	position: relative;
	
}

#ms1 {
	display: inline-block;
	animation-name: ms1;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms1:hover{
	border:2px solid red;
}


#ms2 {
	display: inline-block;
	animation-name: ms2;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms2:hover {
	border:2px solid red;
}

#ms3 {
	display: inline-block;
	animation-name: ms3;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms3:hover {
	border:2px solid red;
}

#ms4 {
	display: inline-block;
	animation-name: ms4;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms4:hover {
	border:2px solid red;
}

#ms5 {
	display: inline-block;
	animation-name: ms5;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms5:hover {
	border:2px solid red;
}

#ms6 {
	display: inline-block;
	animation-name: ms6;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms6:hover {
	border:2px solid red;
}

#ms7 {
	display: inline-block;
	animation-name: ms7;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms7:hover {
	border:2px solid red;
}

#ms8 {
	display: inline-block;
	animation-name: ms8;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms8:hover {
	border:2px solid red;
}

#ms9 {
	display: inline-block;
	animation-name: ms9;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms9:hover {
	border:2px solid red;
}

#ms10 {
	display: inline-block;
	animation-name: ms10;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms10:hover {
	border:2px solid red;
}

#ms11 {
	display: inline-block;
	animation-name: ms11;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms11:hover {
	border:2px solid red;
}

#ms12 {
	display: inline-block;
	animation-name: ms12;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms12:hover {
	border:2px solid red;
}

#ms13 {
	display: inline-block;
	animation-name: ms13;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms13:hover {
	border:2px solid red;
}

#ms14 {
	display: inline-block;
	animation-name: ms14;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms14:hover {
	border:2px solid red;
}

#ms15 {
	display: inline-block;
	animation-name: ms15;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms15:hover {
	border:2px solid red;
}

#ms16 {
	display: inline-block;
	animation-name: ms16;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms16:hover {
	border:2px solid red;
}

#ms17 {
	display: inline-block;
	animation-name: ms17;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms17:hover {
	border:2px solid red;
}

#ms18 {
	display: inline-block;
	animation-name: ms18;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#ms18:hover {
	border:2px solid red;
}



@keyframes ms1 {
	from {
		transform: translateX( -500px) translateY( 0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;

	}
}

@keyframes ms2 {
	from {
		transform: translateX( 500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms3 {
	from {
		transform: translateX(-500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms4 {
	from {
		transform: translateX(500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms5 {
	from {
		transform: translateX(500px) translateY( 0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms6 {
	from {
		transform: translateX(-500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms7 {
	from {
		transform: translateX(500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms8 {
	from {
		transform: translateX(-500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms9 {
	from {
		transform: translateX(-500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms10 {
	from {
		transform: translateX(500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms11 {
	from {
		transform: translateX(-500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms12 {
	from {
		transform: translateX(500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms13 {
	from {
		transform: translateX(500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms14 {
	from {
		transform: translateX(-500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms15 {
	from {
		transform: translateX(500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms16 {
	from {
		transform: translateX(500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms17 {
	from {
		transform: translateX(0px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes ms18 {
	from {
		transform: translateX(-500px) translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

body {
	background-image: url(../images/charmvs1.jpg);
	min-height: 100%;
}
/*.sec {
	background: black;*/
/*}*/

.sec-allo1 {
	background-image: url(../images/wvr1.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 45vh;
	width: 100%;
}

.h-carou {
	height: 300px;
}
#home-section3 {
	height: 50%;
	width: 100%;
	text-align: left;

}

.sec-allo2 {
	background-image: url(../images/hvz.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 45vh;
	width: 100%;
}

#home-section4 {
	height: 50%;
	width: 100%;
	text-align: left;

}

.sec-allo3 {
	background-image: url(../images/cvr.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 45vh;
	width: 100%;
}
/*#home-page-footer {
	height: 42px;
}*/




/*  ---------------------------------end------home page*/
/*----------------------------------------advocate page*/
#advocate-page {
	padding: 50px;
}

#advocate-mission {
	font-size: 5px;
	height: 100vh;
	margin-top: 5px;
}

#advocate-vision {
	font-size: 5px;
	height: 100vh;
	margin-top: 5px;
}

#h1-mission,
#h1-vision{
	color: yellow;
}
.pa {
	color: yellow;
	font-size: 25px;
	
}

/*#advocate-page-footer {
	background: black;
	height: 100px;
	width: 100%;
}*/

.ch{
	height: 100px;
	width: 80px;
}
#kenyw,
#wolyw {
	height: 450px;
	width: 100%;
}
/*----------------------------------end---advocate page*/
/*-----------------------------------------gallery page*/
#top-gallery {
	margin-top: 60px;
	margin-bottom: 60px;
}

#h1 {
	color: white;
}
.pic1 {
	height: 100%;
	width: 110px;
}

/*#cyclopspic:hover{
	height: 250px;
	width: 
}
#spidermanpic
#captainpic
#shumapic
#wolpic
#hulkpic
#blackpic
#omegapic
#ryupic
#kenpic
#danpic
#sakurapic
#akumapic
#chunlipic
#zangpic
#bisonpic
#dhalsimpic*/


#gallery-page-header {
	height: 100vh;
	width: 100%;
}


/*#scroll {
	height: 60vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: black;*/
	/*::-webkit-scrollbar              {}
	::-webkit-scrollbar-button       {}
	::-webkit-scrollbar-track        {}
	::-webkit-scrollbar-track-piece  {  }
	::-webkit-scrollbar-thumb        {  }
	::-webkit-scrollbar-corner       { 
		background-color: black;
	 }
	::-webkit-resizer                { }*/
}

/*.scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
}*/


.card {
	height: 200px;
	width: 100%;
}

#left{
	background-color: black;
	height: 100vh;
}

/*#left-gal{
	background-color: black;
	height: 300vh;
	width: 100%;

}*/

/*#right-gal {
	background-color: black;
	height: 300vh;
	width: 100%;
}*/
/*#right{
	background-color: red;
	height: 100vh;
}*/
h6{
	font-family: 'Nova Flat', cursive;

}

.bye {
	font-family: 'Nova Flat', cursive;
}

.card-img-top {
	height: 250px;
}

.card-title {
	color: white;
}

/*.row {
	margin-top: 60px;
}*/

.card-div {
	margin-top: 40px;
	height: 100%;
	width: 100%;
	border: 2px solid red;
}

.card-bg {
	background-color: black;
}
.div-margin {
	margin-left: 1px;
}

.mid-gal {
	/*background-image: url(../images/mvs3e.jpg);*/

	height: 400px;
	/*background-color: black;*/
	/*background-position: center;*/
	/*background: contain;*/
}

.prof {
	height: 300px;
	width: 350px;
}

.prof-p {
	height: 150px;
	text-align: center;
	/*overflow: scroll;*/
}

.gif{
	margin-bottom: 20px;
	text-align: center;
}





/*-----------------------------------end---gallery page*/
/*  ---------------------------------------contact page*/


.page-footer {
	background: black;
	height: 100px;
	width: 100%;
	border: 2px solid red;
}

.sec-contact {
	background: black;
}

#div-contact {
	padding-bottom: 30px;
}

.pf {
	padding-top: 30px;
}

.h {
	color: red;
}
